body {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
}